nav{flex: 1;
    text-align: center;
    margin-left: 100px;
}
nav ul{
   display: inline-block;
   list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;}
a{
        text-decoration: none;
        color: #0B0202;
}
.navbars{
     display: flex;
     justify-content: baseline;
     border-radius: 8px;

     font-size: 20px;
     padding-left: 9%;
     gap: 50px;
     margin-bottom: 10px;
    

}
#body{
    background-color: rgb(215, 221, 232);

}
#button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 100px;
    margin-left: 10%;

}
#mymentor{
    border: solid 4px purple;
    background-color: rgb(229, 234, 243);
    border-radius: 30px;
    width: 200px;
    height: 30px;
    
}
#image2{
    border-radius: 5px;
    margin-top: 10%;
    margin-right: 10%;
    width: 450px;
    margin-top: 11%;
    
}
#logo{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-top: -2%;
    /* margin-bottom: 10px; */
    /* margin-right: 10%; */
    /* margin-bottom: 20px; */
}
#heading{
    font-size:60px;
    margin-left: 15%;
    /* margin-top: %; */
}
#achievement{
    border: solid 4px purple;
    background-color: rgb(229, 234, 243);
    border-radius: 20px;
    width: 200px;
    height: 30px;
    
}
#goal{
    border: solid 4px purple;
    background-color: rgb(229, 234, 243);
    border-radius: 20px;
    width: 200px;
    height: 30px;
    
}
#to-do{
    border: solid 4px purple;
    background-color: rgb(229, 234, 243);
    border-radius: 20px;
    width: 200px;
    height: 30px;
    
}
#welcome{
    display: flex;
    justify-content: baseline;
    gap: 15%;
    /* margin-bottom: 3%; */
    
}
#paragraph{
    font-size: 20px;

}
#button{
    margin-top: 20%;
    background-color: rgb(210, 218, 233);
    border: solid 4px purple;
    border-radius: 20px;
    /* margin-right:20%; */
    padding-right: px;
    /* margin-right: 120px; */

}
.last{
    display: flex;
    justify-content:space-evenly;
    gap:50px;
    margin-top: 110px;
    background-color: rgb(188, 143, 212);
}
.icons{
    width: 30px;
    height: 30px;
}
@media only  screen  and (min-width:200px) and (max-width:400px){
    .navbars{
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px;
   
        font-size: 20px;
        padding-left: 0%;
        gap: 10px;
        margin-bottom: 0px;
       
   
   }
   body{
       background-color: rgb(215, 221, 232);
   
   }
   /* #button{
       height: 50px;
       width: 120px;
       border-radius: 10px;
       font-size: 10px;
       margin-left:0px;
       margin-left: 0%;
    */
   
   #mymentor{
       border: solid 4px purple;
       background-color: rgb(229, 234, 243);
       border-radius: 30px;
       width: 50px;
       height: 30px;
       
   }
   #image2{
       border-radius: 5px;
       margin-top: 0%;
       margin-right: 0%;
       width: 200px;
       margin-top: 0%;
       
   }
   #logo{
       width: 90px;
       height: 90px;
       object-fit: cover;
       margin-top: -2%;
       /* margin-bottom: 10px; */
       /* margin-right: 10%; */
       /* margin-bottom: 20px; */
   }
   #heading{
       font-size:20px;
       text-align: center;
       margin-left: 0%;
       /* margin-top: %; */
   }
   #achievement{
       border: solid 2px purple;
       background-color: rgb(229, 234, 243);
       border-radius: 10px;
       width: 90px;
       height: 20px;
       font-size: 16px;
       
   }
   #goal{
       border: solid 2px purple;
       background-color: rgb(229, 234, 243);
       border-radius: 10px;
       width: 90px;
       height: 20px;
       
   }
   #to-do{
       border: solid 4px purple;
       background-color: rgb(229, 234, 243);
       border-radius: 20px;
       width: 20px;
       height: 30px;
       
   }
   #welcome{
       display: flex;
       flex-wrap: wrap;
       gap: 15%;
       /* margin-bottom: 3%; */
       
   }
   #paragraph{
       font-size: 10px;
   
   }
   #button{
       margin-top: 0%;
       background-color: rgb(210, 218, 233);
       border: solid 4px purple;
       border-radius: 20px;
       /* margin-right:20%; */
       padding-right: 0 px;
       /* margin-right: 120px; */
   
   }
   .last{
       display: flex;
       
       gap:0px;
       margin-top: 0px;
       background-color: rgb(188, 143, 212);
       
   }
   .icons{
       width: 15px;
       height: 15px;
   } 
}  


