.signup{
    padding-right: 120px;
    padding-top: 70px;
   
 }
 #button{
    border-radius: 10px;
    font-size: 20px;
    width: 20%;
    height: 30%;
 }
  #body{
    padding-left: 20%;
    padding-bottom: 3%;
    width:50%;
    }  

  .input{
   padding: 10px 10px;
   border-radius:40px; 
   font-size: 20px;
   padding-left:20%;
   border:4px solid purple;
   border-color:purple;
   /* box-sizing:border-box; */
   
   
}
#button{
   height: 50px;
   width: 120px;
   border-radius: 20px;
   font-size: 20px;
   margin-left: 50%;
   background-color: rgb(190, 207, 238);
   border: solid 3px purple;

}

#username{
   background-color: rgb(208, 219, 238);

}
#Password{
   background-color: rgb(208, 219, 238);

}

#password{
   background-color: rgb(208, 219, 238);

}
#forgotPassword{
   background-color: rgb(208, 219, 238);

}



