 /* .signup{
    font-size: 20px;
    padding-left: 150px;
    padding-top: 70px;
    border-radius: 3px;
    border: solid 3px purple;
    width: 40%;
 }
 #button{
    border-radius: 10px;
    font-size: 20px;
    width: 20%;
    height: 60%;
 }
 #body{
    padding-left: 20%;
    padding-top: 5%;
    width:90%;
    } 
  */